h1 {
    font-size: 50px;
    text-align: center;
}

.list {
    display: inline-block;
    font-size: 30px;
    text-align: center;
    position: relative;
    left: 500px;
    margin : 20px;
    padding: 20px;
}